.profile{
    display: flex;

}
.profileRight{
    flex: 9;
}
.profileCover{
    height: 320px;
    position: relative;
    object-fit: cover;
}
.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
}
.profileUserImg{
    width: 150px;height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
 
    top: 160px;
    border: 3px solid white;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileInfoName{
    font-size: 24px;
}
.profileInfoDesc{
    font-weight: 300;
}
.profileRightBottom{
    display: flex;
}
#pp{
    position: absolute;
    bottom: 1%;
    left: 52%;
    cursor: pointer;
}
#cp{
    position: absolute;
    bottom: 70px;
    left: 6px;
    color: red;
    cursor: pointer;
}
#file1,#file2{
    display: none;
}